.main {
  height: 100vh;
  background-color: rgb(241, 13, 13);
  display: flex;
  align-items: center;
  justify-content:space-between;
  color:red;
}

.main h1{
  font-size: 50px;
}

.main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.main card{
  margin-right: 400px;
}

.main-btn{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.main-btn button{
  height: 40px;
  width: 100px;
  background-color: #fff;
  color:red; 
}

button{
  margin: 40px;
  border-radius: 10px;
}

card{
  height: 400px;
  width: 300px;
  background-color: rgb(16, 16, 17);
  border-radius: 30px;
}

card img{
  height: 200px;
  width: 300px;
  border-radius: 30px;
}