.header{
  height: 5rem;
  background-color: black;
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 1;

}

.header h1{
  font-size:30px;
  margin-left:50px;
}

.bt1{
  margin-right: 20px;
}
button{
  height: 30px;
  width: 80px;
  background-color: crimson;
  color:white;
}